.container{
    display: flex;
    justify-self: center;
    align-items: center;
    height: 100vh;
}
.image-text {
    background-color: lightgray;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}
