* {
    padding: 0px;
}
.header {
    background-color: dodgerblue;
}

.sidebar {
    width: 30%;
    background-color: darkseagreen;
}
.content {
    background-color: firebrick;
    width: 70%;
}

/* .sidebar .content {
    width: 500px;
    height: 100%;
    display: flex;
    } */
    
.display-flex {
    display: flex;
    height: 100vh;
}

.footer {
    margin-top: 20px;
    background-color: blueviolet;
}
