.container {
    background-color: darkgray;
    padding: 20px;
    display: flex;
    text-align: center;
}

.trai {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 20px; 
}

.big-box {
    width: calc(100% - 20px);
    /* Trừ đi 20px của padding trong phần container */
    background-color: aquamarine;
    color: white;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phai {
    width: calc(50% - 20px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    gap: 20px;
    text-align: center;
}

.box-small {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Muốn căn ra giữa thì 3 câu lệnh này là "combo" */
    background-color: aquamarine;
}